.nav {
  display: flex;
  height: 60px;
  border-bottom: 2px solid black;
  align-items: center;
}
.search-bar-container {
  width: 30%;
}
.input-wrapper {
  width: 100%;
  border-radius: 4px;
  height: 100%;
  padding: 0 15px;
  margin-left: 15px;
  border: #5a5a5a 2px solid;
  display: flex;
  align-items: center;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 2em;
  margin-left: 5px;
  width: 100%;
}

input:focus {
  outline: none;
}

#search-icon {
  color: royalblue;
  font-size: 24px;
}

#FaHome {
  margin-left: 10px;
  color: white;
}

#advanced-search-link {
  margin-left: 30px;
}

#account-link {
  margin-left: auto
}

.navbar-link {
  padding: 0px 10px;
}

h1 {
  text-align: center;
  font-size: 5em;
  padding: 40px;
}

#main-container {
  border: 2px solid yellow;
  width: 1260px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

img {
  padding: 5px;
}

.postTitle {
  text-align: center;
  font-size: 30px;
  font: black;
  text-decoration: none;
}


#target-image-container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px
}

#image-tag {
  font-size: 20px;
  padding: 5px 12px;
  border-radius: 12px;
  margin-right: 8px;
  border: none;
  margin-bottom: 20px;
}